* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #212121;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;

}


.root {
  height: 100vh;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  background: #212121;
  overflow-x: hidden;
  overflow-y: hidden;
}

.root h1 {
  position: absolute;
  top: 0;
  margin-bottom: 1rem;
  padding-top: .8rem;
  font-size: 4vmax;
  width: 100%;
  text-align: center;
  font-family: 'Monoton';
  border-bottom: 1px solid 84ffff;
}

.root h1 .title {
  font-size: 4vmax;

  color: #FFFFFF;

  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;

}

h1 span {
  margin: 0 2vw 0;
  line-height: 1rem;
  animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  color: #ffff00;
  text-shadow: 0px 0px 19px #ff8000;

}

h1 span:nth-child(3) {
  animation: spin 2s infinite linear reverse;
  -webkit-animation: shake 1s infinite linear reverse;
  color: #ff8000;
  text-shadow: 0px 0px 19px #ffff00;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 70vmin;
  width: 70vmin;

}

.shake {
  animation: shake .1s linear;
  -webkit-animation: shake .1s linear;
}

.board .block {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1.5px solid black;
  font-size: 15vmin;
}

.board .block:nth-child(1) {
  border-top: none;
  border-left: none;
}

.board .block:nth-child(2) {
  border-top: none;
}

.board .block:nth-child(3) {
  border-top: none;
  border-right: none;

}

.board .block:nth-child(4) {
  border-left: none;
}

.board .block:nth-child(6) {
  border-right: none;
}

.board .block:nth-child(7) {
  border-bottom: none;
  border-left: none;
}

.board .block:nth-child(8) {
  border-bottom: none;
}

.board .block:nth-child(9) {
  border-bottom: none;
  border-right: none;
}

.board .wins {
  color: #FFFFFF;

  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  pointer-events: none;
}

.board .block:hover {
  background-color: rgba(138, 209, 87, 0.404);

}

.buttons {
  margin-top: 15px;
  width: 70vmin;
  height: 7vmin;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;

}

.buttons button {
  font-size: 3vmin;
  width: 35vmin;
  outline: none;
  border: none;
  font-family: 'Shojumaru';
  cursor: pointer;
  opacity: 0.5;

}

.buttons button:nth-child(1) {
  background-color: #38ef7d;

}

.buttons button:nth-child(2) {
  background: #8E0E00;




}

.buttons button:hover {
  opacity: 1;

}

.container {
  width: 100vw;
  position: absolute;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;



}

.what_happens {
  padding-top: calc(6vmax + 32px);
  text-align: center;
  color: #212121;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
  font-family: "Trade Winds";
  font-size: 3vmin;
}

.what_happens ::last-word {
  color: #00f;
}

.p1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  order: 1;
  padding-bottom: 6vh;
}

.wrraper {
  -webkit-box-ordinal-group: 3;
  order: 2;
}

.p2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 4;
  order: 3;
  padding-bottom: 6vh;

}

label {
  font-size: 10vmax;
}

input[type="text"] {
  all: unset;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 3vmin;
  font-family: "Pangolin", 'Press Start 2P';

}

input[type="text"]:focus {
  background-color: rgba(92, 217, 240, 0.747);

}

.points {
  font-size: 6vmax;
  font-family: 'Monoton';
}


/* MEDIA QUERY */

@media screen and (max-width: 640px) {
  .container {
    /* flex-direction: column;
    flex-wrap: wrap; */
    display: inline-block;

  }

  .p1 {
    margin-top: 3rem;
    width: calc(100vw - 51vw);

    -webkit-box-ordinal-group: 5;

    order: 4;
    float: left;
    padding-bottom: 0;



  }

  label {
    font-size: 10vw;
  }

  .p2 {
    width: calc(100vw - 51vw);
    margin-top: 3rem;

    -webkit-box-ordinal-group: 5;

    order: 4;
    float: right;
    padding-bottom: 0;


  }

  .board {
    margin: 0 auto;
  }

  .buttons {
    margin: 0 auto;
  }
}




/* ANIMATION KEYFRAMES */

@-webkit-keyframes spin {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }

  to {
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }

  to {
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
  }
}

@-webkit-keyframes shake {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  20% {
    transform: translateX(-1rem);
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem);
  }

  40% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  60% {
    transform: translateX(1rem);
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem);
  }

  80% {
    transform: translateX(-1rem);
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

}

@keyframes shake {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  20% {
    transform: translateX(-1rem);
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem);
  }

  40% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  60% {
    transform: translateX(1rem);
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem);
  }

  80% {
    transform: translateX(-1rem);
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

}